@import url(https://fonts.googleapis.com/css?family=Montserrat);


* {
    margin: 0;
    padding: 0;
   
}

/* html {
    height: 100vh;
} */

body {
    font-family: montserrat, arial, verdana;
   
}


#msform {
    top: 0;
    text-align: center;
    position: fixed;
    z-index: 9999999;
    
    height: 110px;

}
/* .fieldset-container{
    box-shadow: 0px 3px 12px 0px rgba(112,110,110,0.49);
    -webkit-box-shadow: 0px 3px 12px 0px rgba(112,110,110,0.49);
    -moz-box-shadow: 0px 3px 12px 0px rgba(112,110,110,0.49);
} */

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

   
    position: relative;
   
}


#msform fieldset:not(:first-of-type) {
    display: none;
}

.visibility{
    display: none;
}

#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}


#msform .action-button {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}



#msform1 {
    text-align: center;
    position: relative;
    margin-top: 30px;
}
/* .fieldset-container{
    box-shadow: 0px 3px 12px 0px rgba(112,110,110,0.49);
    -webkit-box-shadow: 0px 3px 12px 0px rgba(112,110,110,0.49);
    -moz-box-shadow: 0px 3px 12px 0px rgba(112,110,110,0.49);
} */

#msform1 fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

   
    position: relative;
   
}


#msform1 fieldset:not(:first-of-type) {
    display: none;
}

.visibility{
    display: none;
}

#msform1 input, #msform1 textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform1 input:focus, #msform1 textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}


#msform1 .action-button {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform1 .action-button:hover, #msform1 .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform1 .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform1 .action-button-previous:hover, #msform1 .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}



.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}


#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
  
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: rgb(121, 120, 120);
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #fcfcfc;
    background: rgb(109, 107, 107);
    border-radius: 25px;
    margin: 0 auto 10px auto;
}


#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(61, 61, 61);
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; 
}

#progressbar li:first-child:after {
 
    content: none;
}

#progressbar li.active:before, #progressbar li.active:after {
    background: #ee0979;
    color: white;
}



.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}
.review h1{
padding-top: 20px;
padding-bottom: 20px;
font-weight: bold;
font-size: larger;
}
.review p{
    padding-top: 10px;
    
    }
